@import "tailwindcss";

@theme {
  --font-display: "Comfortaa", sans-serif;

  --animate-reveal: reveal 500ms ease-in-out;

  @keyframes reveal {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
