---
// src/components/BentoGrid.astro
import Tile from "./Tile.astro";

const { items } = Astro.props;

interface GridItem {
  span?: string;
  [key: string]: any;
}
---

<div
  class="grid aspect-2/1 max-w-[95%] grid-cols-1 gap-4 lg:grid-cols-4 lg:grid-rows-2"
>
  {
    items.map((item: GridItem) => (
      <div class={item.span || "col-span-1"}>
        <Tile {...item} />
      </div>
    ))
  }
</div>
