---
//src/components/CardFeature.astro
import { Icon } from "astro-icon/components";

const { category, categoryLabel, features, featureLabel, price } = Astro.props;
---

<div
  class="relative flex min-w-full flex-col overflow-hidden rounded-sm border border-slate-300 bg-white p-1 shadow-xl md:min-w-[66%]"
>
  <div class="rounded-sm border border-white bg-slate-50/50 px-12 py-6">
    <div class="flex items-center justify-between">
      <div class="flex flex-1 flex-col justify-between self-stretch text-left">
        <h3
          class="mb-1 self-start text-xs font-black tracking-[0.2em] text-slate-400 uppercase"
        >
          {categoryLabel || ""}
        </h3>

        <div class="mt-1 flex flex-1 items-center">
          <span class="text-lg font-bold text-emerald-900 italic">
            {category || ""}
          </span>
        </div>
      </div>

      <Icon
        name="monstera"
        class="h-15 w-15 rotate-45 self-center text-emerald-900 opacity-50 sm:block"
      />

      <div
        class="flex flex-1 flex-col items-end justify-between self-stretch text-right"
      >
        <h3
          class="mb-1 text-xs font-black tracking-[0.2em] text-slate-400 uppercase"
        >
          Estimated Price Range
        </h3>
        <span
          class="mt-1 rounded-full border border-emerald-100 bg-white px-6 py-0.5 font-serif text-2xl font-bold text-emerald-900 italic shadow-sm ring-4 ring-emerald-50/50"
        >
          {price || ""}
        </span>
      </div>
    </div>

    <div class="relative my-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-slate-200"></div>
      </div>
      <div class="relative flex justify-center">
        <span
          class="bg-slate-50/50 px-4 text-[9px] font-black tracking-[0.3em] text-slate-400 uppercase"
        >
          {featureLabel || ""}
        </span>
      </div>
    </div>
    <div class="flex w-full justify-center">
      <ul
        class="grid grid-cols-1 gap-x-50 gap-y-5 self-stretch text-left sm:grid-cols-2"
      >
        {
          (features || "").split(",").map((item: string) => (
            <li class="group flex items-center gap-4 text-sm font-semibold tracking-tight text-slate-700">
              <div class="h-1.5 w-1.5 shrink-0 rounded-full bg-emerald-500 transition-transform duration-300 group-hover:scale-150" />
              <span class="border-b border-transparent transition-colors duration-300 group-hover:border-emerald-200">
                {item.trim()}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>
