---
// src/components/Container.astro

const { isCard = false } = Astro.props;
---

<section
  class:list={[
    "m mx-auto mb-8 flex max-w-[80%] flex-col items-center gap-8 px-8 py-12 text-center",
    isCard ? "rounded-sm border border-slate-300 bg-gray-100 shadow-lg" : "",
  ]}
>
  <slot />
</section>
