---
// src/components/NavLinks.astro
interface Props {
  href: string;
}

const { href } = Astro.props;
const { pathname } = Astro.url;

const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "block w-full cursor-pointer rounded-md p-3 text-left duration-175 ease-in-out hover:scale-105 hover:shadow-md motion-safe:transition-all lg:inline-block lg:w-auto lg:px-2 lg:py-3 lg:text-center",
    isActive
      ? "font-bold opacity-100 hover:opacity-70"
      : "opacity-70 hover:opacity-100",
  ]}
>
  <span class="text-lg/6 no-underline">
    <slot />
  </span>
</a>
