---
// src/components/SocialLinks.astro
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  iconName: string;
  label: string;
}

const { href, iconName, label } = Astro.props;
---

<a
  href={href}
  rel="noopener noreferrer"
  aria-label={label}
  class="block h-8 w-8 overflow-hidden rounded-full duration-150 ease-in-out hover:scale-110 motion-safe:transition-all"
>
  <Icon
    name={iconName}
    class="h-full w-full bg-white object-contain text-emerald-900"
  />
</a>
