---
// src/components/Tile.astro
const { title, description, image, alt } = Astro.props;
---

<div
  class="group relative h-full w-full overflow-hidden rounded-sm border border-white/20 transition-all duration-500 hover:z-10 hover:scale-[1.02] hover:shadow-2xl"
>
  <img
    src={image}
    alt={alt}
    class="h-full w-full object-cover transition-transform duration-700 group-hover:scale-110"
  />

  <div
    class="absolute inset-x-2 bottom-2 flex translate-y-4 flex-col justify-end overflow-hidden rounded-sm border border-white/30 bg-white/10 p-2 opacity-0 backdrop-blur-md transition-all duration-500 group-hover:translate-y-0 group-hover:opacity-100"
  >
    <div
      class="pointer-events-none absolute inset-0 bg-linear-to-br from-white/20 to-transparent"
    >
    </div>

    <h3
      class="font-display relative text-lg font-bold tracking-tight text-white drop-shadow-[0_5px_3px_rgba(0,0,0,1)]"
    >
      {title}
    </h3>
    <p
      class="text-sm relative mt-1 leading-relaxed font-medium text-white drop-shadow-[0_5px_3px_rgba(0,0,0,1)]"
    >
      {description}
    </p>
  </div>
</div>
